---
import GalleryImg from "./GalleryImg.astro";
import Img1 from "../../../assets/img-1.png";
import Img3 from "../../../assets/img-3.jpg";
import Img6 from "../../../assets/img-6.png";
---

<section class="section">
    <article class="section__gallery">
        <div class="section__gallery__marquee">
            <GalleryImg source={Img1.src} numPh={"3"} title={"diseños web"} order="one"></GalleryImg>
            <GalleryImg source="https://cdn.discordapp.com/attachments/973568724722389052/1236652996688085033/img-2_2_1-min.png?ex=6638ca5a&is=663778da&hm=e2493c85cf972b98c1a27018d135c33112e90424622c468555d37c3c9f0a6511&" numPh={"3"} title={"posters"}></GalleryImg>
            <GalleryImg source={Img3.src} numPh={"5"} title={"variación"}></GalleryImg>
            <div class="section__gallery__marquee__divider">
                <GalleryImg source="https://cdn.discordapp.com/attachments/973568724722389052/1236652996688085033/img-2_2_1-min.png?ex=6638ca5a&is=663778da&hm=e2493c85cf972b98c1a27018d135c33112e90424622c468555d37c3c9f0a6511&" numPh={"3"} title={"posters"}></GalleryImg>
                <GalleryImg source={Img3.src} numPh={"5"} title={"variación"} order="three"></GalleryImg>
            </div>
        </div>
        <div class="section__gallery__marquee section__gallery__marquee--right">
            <GalleryImg source="https://cdn.discordapp.com/attachments/973568724722389052/1236652998785237023/img-4.png?ex=6638ca5a&is=663778da&hm=5c2ac722534aa85f2ac268514d6f0b993e143dd2bf0e86f37972e8707655febb&" numPh={"3"} title={"posts instagram"}></GalleryImg>
            <GalleryImg source={Img6.src} numPh={"3"} title={"oropatrimonio.com"}></GalleryImg>
            <div class="section__gallery__marquee__divider">
                <GalleryImg source="https://cdn.discordapp.com/attachments/973568724722389052/1236652998785237023/img-4.png?ex=6638ca5a&is=663778da&hm=5c2ac722534aa85f2ac268514d6f0b993e143dd2bf0e86f37972e8707655febb&" numPh={"3"} title={"posts instagram"}></GalleryImg>
                <GalleryImg source={Img6.src} numPh={"3"} title={"oropatrimonio.com"}></GalleryImg>
            </div>
            <GalleryImg source="https://cdn.discordapp.com/attachments/973568724722389052/1236652999539949650/img-5.png?ex=6638ca5a&is=663778da&hm=8e007bde57b608caa99a157a78f76ea702789312de426d2ce79648892c9c95fc&" numPh={"3"} title={"minadorbitcoin.com"}></GalleryImg>
        </div>
    </article>
</section>

<style lang="scss">
    .section{
        margin: 0;
        width: 100vw;
        padding-top: 40px;
        padding-bottom: 40px;
        background: #121212;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
        
        &__gallery{
            width: 100vw;

            &__marquee{
                display: flex;
                justify-content: center;
                width: 100vw;
                gap: 55px;
                // animation: marqueeAnimation 10s linear infinite; /* Ajusta la duración y velocidad según sea necesario */

                &--right{
                    margin-top: 38px;
                    // animation: marqueeAnimationRight 10s linear infinite; /* Ajusta la duración y velocidad según sea necesario */
                }

                &__divider{
                    display: none;
                }
            }
        }
    }

    @keyframes marqueeAnimation {
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marqueeAnimationRight {
        0% {
            transform: translateX(-100vw);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @media only screen and (max-width: 480px){
        .section{

            &__gallery{
                            
                &__marquee{
                    flex-direction: column;

                    &__picture{
                        height: 30vh;
                    }

                    &__divider{
                        width: 100vw;
                        justify-content: space-around;
                        display: flex;
                    }
                }
            }
        }
    }
</style>

<script is:inline>
    const imagesArr = document.querySelector('.section__gallery__marquee').childNodes;
    const imagesArr2 = document.querySelector('.section__gallery__marquee--right').childNodes;
    const $image1 = imagesArr[3];
    const $image2 = imagesArr[5];
    const $image3 = imagesArr2[1];
    const $image4 = imagesArr2[3];
    console.log(imagesArr2);

    if (window.screen.availWidth <= 480){
        $image1.style.display = 'none';
        $image2.style.display = 'none';
        $image3.style.display = 'none';
        $image4.style.display = 'none';
    }

</script>