---
import GalleryImg from "./GalleryImg.astro";
import GalleryLink from "./GalleryLink.astro";

//Web Design
import one_Img1 from "../../../assets/web-design/img-1.png";
import one_Img2 from "../../../assets/web-design/img-2.png";
import one_Img3 from "../../../assets/web-design/img-3.png";
import one_Img4 from "../../../assets/web-design/img-4.png";
import one_Img5 from "../../../assets/web-design/img-5.png";
import one_Img6 from "../../../assets/web-design/img-6.png";
import one_Img7 from "../../../assets/web-design/img-7.png";
import one_Img8 from "../../../assets/web-design/img-8.png";

//Posters
import two_Img1 from "../../../assets/posters/img-2.png";

//Variation
import three_Img1 from "../../../assets/variation/img-1.jpg";
import three_Img2 from "../../../assets/variation/img-2.jpg";
import three_Img3 from "../../../assets/variation/img-3.jpg";
import three_Img4 from "../../../assets/variation/img-4.jpg";
import three_Img5 from "../../../assets/variation/img-5.jpg";
import three_Img6 from "../../../assets/variation/img-6.jpg";
import three_Img7 from "../../../assets/variation/img-7.jpg";
import three_Img8 from "../../../assets/variation/img-8.png";
import three_Img9 from "../../../assets/variation/img-9.png";
import three_Img10 from "../../../assets/variation/img-10.png";
import three_Img11 from "../../../assets/variation/img-11.jpg";
import three_Img12 from "../../../assets/variation/img-12.jpg";
import three_Img13 from "../../../assets/variation/img-13.jpg";
import three_Img14 from "../../../assets/variation/img-14.jpg";
import three_Img15 from "../../../assets/variation/img-15.jpg";
import three_Img16 from "../../../assets/variation/img-16.jpg";
import three_Img17 from "../../../assets/variation/img-17.jpg";
import three_Img18 from "../../../assets/variation/img-18.jpg";
import three_Img19 from "../../../assets/variation/img-19.jpg";
import three_Img20 from "../../../assets/variation/img-20.jpg";
import three_Img21 from "../../../assets/variation/img-21.png";
import three_Img22 from "../../../assets/variation/img-22.png";

//Instagram Posts
import four_Img1 from "../../../assets/instagram-posts/img-1.png";
import four_Img2 from "../../../assets/instagram-posts/img-2.png";
import four_Img3 from "../../../assets/instagram-posts/img-3.png";
import four_Img4 from "../../../assets/instagram-posts/img-4.png";

//Oro Patrimonio
import five_Img1 from "../../../assets/oropatrimonio/img-1.png";

//Mineria BTC
import six_Img1 from "../../../assets/mineriabtc/img-1.png";
---

<section class="section section--1" id="s1">
    <article class="section__gallery">
        <div class="section__gallery__marquee">
            <GalleryImg
                source={one_Img7}
                numPh={"8"}
                title={"diseños web"}
                order="one"
                imgNum="1"
                imgsArr={[
                    one_Img1.src,
                    one_Img2.src,
                    one_Img3.src,
                    one_Img4.src,
                    one_Img5.src,
                    one_Img6.src,
                    one_Img8.src,
                ]}
            />
            <GalleryLink
                source={two_Img1}
                numPh={"22 fotos"}
                titleG={"posters"}
                imgNum="2"
                link="https://drive.google.com/drive/folders/16FZgBAkKRx3MjX4fRyrNF49Bwr6VC0Fb?usp=sharing"
            />
            <GalleryImg
                source={three_Img1}
                numPh={"23"}
                title={"variación"}
                imgNum="3"
                imgsArr={[
                    three_Img1.src,
                    three_Img2.src,
                    three_Img3.src,
                    three_Img4.src,
                    three_Img5.src,
                    three_Img6.src,
                    three_Img7.src,
                    three_Img8.src,
                    three_Img9.src,
                    three_Img10.src,
                    three_Img11.src,
                    three_Img12.src,
                    three_Img13.src,
                    three_Img14.src,
                    three_Img15.src,
                    three_Img16.src,
                    three_Img17.src,
                    three_Img18.src,
                    three_Img19.src,
                    three_Img20.src,
                    three_Img21.src,
                    three_Img22.src,
                ]}
            />
            <div class="section__gallery__marquee__divider">
                <GalleryLink
                    source={two_Img1}
                    numPh={"3"}
                    title={"posters"}
                    imgNum="2"
                    link="https://drive.google.com/drive/folders/16FZgBAkKRx3MjX4fRyrNF49Bwr6VC0Fb?usp=sharing"
                />
                <GalleryImg
                    source={three_Img1}
                    numPh={"5"}
                    title={"variación"}
                    order="three"
                    imgNum="3"
                    imgsArr={[
                        three_Img1.src,
                        three_Img2.src,
                        three_Img3.src,
                        three_Img4.src,
                        three_Img5.src,
                        three_Img6.src,
                        three_Img7.src,
                        three_Img8.src,
                        three_Img9.src,
                        three_Img10.src,
                        three_Img11.src,
                        three_Img12.src,
                        three_Img13.src,
                        three_Img14.src,
                        three_Img15.src,
                        three_Img16.src,
                        three_Img17.src,
                        three_Img18.src,
                        three_Img19.src,
                        three_Img20.src,
                        three_Img21.src,
                        three_Img22.src,
                    ]}
                />
            </div>
        </div>
        <div class="section__gallery__marquee section__gallery__marquee--right">
            <GalleryImg
                source={four_Img1}
                numPh={"4"}
                titleG={"posts instagram"}
                imgNum="4"
                imgsArr={[four_Img2.src, four_Img3.src, four_Img4.src]}
            />
            <GalleryLink
                source={five_Img1}
                numPh={"página web"}
                titleG={"oro patrimonio"}
                imgNum="2"
                link="https://oropatrimonio.com"
            />
            <div class="section__gallery__marquee__divider">
                <GalleryImg
                    source={four_Img4}
                    numPh={"4"}
                    titleG={"posts instagram"}
                    imgNum="4"
                    imgsArr={[four_Img2.src, four_Img3.src, four_Img4.src]}
                />
                <GalleryLink
                    source={five_Img1}
                    numPh={"página web"}
                    titleG={"oro patrimonio"}
                    imgNum="2"
                    link="https://oropatrimonio.com"
                />
            </div>
            <GalleryLink
                source={six_Img1}
                numPh={"página web"}
                titleG={"mineriabtc"}
                imgNum="2"
                link="https://mineriabtc.com"
            />
        </div>
    </article>
</section>

<style lang="scss">
    .section {
        margin: 0;
        width: 100vw;
        padding-top: 40px;
        padding-bottom: 40px;
        background: #121212;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);

        &__gallery {
            width: 100vw;

            &__marquee {
                display: flex;
                justify-content: center;
                width: 100vw;
                gap: 55px;
                // animation: marqueeAnimation 10s linear infinite; /* Ajusta la duración y velocidad según sea necesario */

                &--right {
                    margin-top: 38px;
                    // animation: marqueeAnimationRight 10s linear infinite; /* Ajusta la duración y velocidad según sea necesario */
                }

                &__divider {
                    display: none;
                }
            }
        }
    }

    @keyframes marqueeAnimation {
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marqueeAnimationRight {
        0% {
            transform: translateX(-100vw);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @media only screen and (max-width: 480px) {
        .section {
            &__gallery {
                &__marquee {
                    flex-direction: column;

                    &__picture {
                        height: 30vh;
                    }

                    &__divider {
                        width: 100vw;
                        justify-content: space-around;
                        display: flex;
                    }
                }
            }
        }
    }
</style>

<script is:inline>
    const imagesArr1 = document.querySelectorAll('.section__gallery__marquee')[0];
    const imagesArr2 = document.querySelectorAll('.section__gallery__marquee')[1];
    const blurContainerArr = document.querySelectorAll('.picture');
    let loaderArr = [];
    let imgArr = [];
    blurContainerArr.forEach((picture) =>{
        loaderArr.push(picture.children[0])
        imgArr.push(picture.children[1]);
    })

    const loaded = (img, loader) =>{
        img.style.opacity = 1;
        loader.style.display = 'none';
    }

    for (let i = 0; i < imgArr.length; i++){
        if (imgArr[i].complete) {
            loaded(imgArr[i], loaderArr[i])
        } else {
            imgArr[i].addEventListener("load", () =>{
                loaded(imgArr[i], loaderArr[i])
            })
        }
    }

    const image2 = imagesArr1.children[1];
    const image3 = imagesArr1.children[2];
    const image4 = imagesArr2.children[0];
    const image5 = imagesArr2.children[1];
    let deletedImgMobile = [image2, image3, image4, image5];

    if (window.screen.availWidth <= 480){
        deletedImgMobile.forEach((img) =>{
            img.style.display = 'none';
        })
    }
</script>
