---
import Layout from "../layouts/Layout.astro";
import Entry from "../components/Blog/Entry.astro";
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Blog y Noticias">
    <header class="header">
        <h1 class="header__title">Blog y noticias</h1>
        <aside class="header__content">
            <article class="header__content__part header__content__part--1">
                    {
                        <a href={posts[0].slug} class="header__content__part__img-container">
                            <img src={posts[0].data.heroImage} alt="PymeWebTeam" class="header__content__part__img-container__img"/>
                            <div class="header__content__part__img-container__content-container">
                                <h2 class="header__content__part__img-container__content-container__title">{posts[0].data.title}</h2>
                                <h3 class="header__content__part__img-container__content-container__subtitle">{posts[0].data.description}</h3>
                            </div>
                        </a>
                        
                    }
            </article>
            <article class="header__content__part header__content__part--2">
                <h2 class="header__content__part__title">contenido destacado</h2>
                <div class="header__content__part__entry-container">
                    {
                        <Entry title={posts[0].data.title} subtitle={posts[0].data.description} link={posts[0].slug}></Entry>
                        <Entry title={posts[1].data.title} subtitle={posts[0].data.description} link={posts[1].slug}></Entry>
                        <Entry title={posts[2].data.title} subtitle={posts[0].data.description} link={posts[2].slug}></Entry>
                    }
                </div>
            </article>
        </aside>
    </header>
    <main>
		{
			posts.map((post) => (
				<li>
					<a href={`${post.slug}`}>
						<img width={720} height={360} src={post.data.heroImage} alt=""/>
						<h4 class="title">{post.data.title}</h4>
						<p class="description">{post.data.description}</p>
					</a>
				</li>
			))
		}
	</main>
</Layout>

<style lang="scss">
    body{
        font-family: 'Poppins';
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            margin-top: 30px;
            margin-bottom: 40px;
        }

        &__content{
            height: 400px;
            width: 100vw;
            justify-content: space-around;
            display: flex;
            margin-bottom: 100px;

            &__part{
                display: flex;
                flex-direction: column;
                width: 40vw;
                justify-content: center;

                &__img-container{
                    margin-top: 50px;

                    &__img{
                        width: 100%;
                    }

                    &__content-container{
                        position: relative;
                        bottom: 60px;
                        padding: 10px;
                        border-radius: 0px 0px 20px 20px;
                        background-color: #1E212E;

                        &__title{
                            font-size: 16px;
                        }

                        &__subtitle{
                            color: #747477;
                            font-size: 15px;
                        }
                    }
                }

                &__title{
                    color: #E97D7D;
                    font-size: 16px;
                }
            }
        }
    }
</style>